
    <meta charset="UTF-8" />
    <title><?php echo isset($title)? $title . ' · ' : ''; ?>WebPlatform.org</title>

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cleartype" content="on">

    <link rel="shortcut icon" href="http://www.webplatform.org/favicon.ico" />
    <link rel="search" type="application/opensearchdescription+xml" href="http://docs.webplatform.org/w/opensearch_desc.php" title="WebPlatform Docs (en)" />
    <link rel="copyright" href="http://creativecommons.org/licenses/by/3.0/" />

    <link rel="stylesheet" href="http://www.webplatform.org/assets/squished.css?v=2013091800" />
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <script>window.html5 || document.write('<script src="js/html5shiv.js"><\/script>')</script>
    <![endif]-->

    <!--[if lt IE 7]><style type="text/css">body{behavior:url("http://docs.webplatform.org/w/skins/vector/csshover.min.htc")}</style><![endif]-->

    <meta name="description" content="Your Web, Documented. The latest information on how to use the technology that runs the web — HTML, CSS, JavaScript and more.">
    <meta name="author" content="WebPlatform.org">