
<meta charset="UTF-8" />
<title><?php echo isset($title)? $title . ' · ' : ''; ?>WebPlatform.org</title>
<link rel="shortcut icon" href="http://webplatform.org/favicon.ico" />
<link rel="search" type="application/opensearchdescription+xml" href="/d/opensearch_desc.php" title="WebPlatform Docs (en)" />
<link rel="copyright" href="http://creativecommons.org/licenses/by/3.0/" />
<link rel="stylesheet" href="http://docs.webplatform.org/w/load.php?debug=false&amp;lang=en&amp;modules=mediawiki.legacy.commonPrint%2Cshared%7Cskins.webplatform&amp;only=styles&amp;skin=webplatform&amp;*" />
<!--[if lt IE 7]><style type="text/css">body{behavior:url("http://webplatform.org/d/skins/webplatform/csshover.min.htc")}</style><![endif]-->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<!--[if lt IE 9]><script src="http://webplatform.org/skins/webplatform/html5shiv.js"></script><![endif]-->

<meta name="viewport" content="width=device-width">
<!--[if lt IE 9]><link rel="stylesheet" href="../skins/webplatform/ie8.css"><![endif]-->
<!--[if lt IE 8]><link rel="stylesheet" href="../skins/webplatform/ie7.css"><![endif]-->
